@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

a {
  color: #000;
}

.brand-logo {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}


.item {
  width: 30%;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}

#toast-container {
  top: 10%;
  right: 10%;
  left: auto;
}

.card {
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* .card-detilas {
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 40%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
} */
